.header {
  background-color: var(--color-primary);
  background-image: linear-gradient(20deg, var(--color-tertiary) 0%, var(--color-primary) 100%);
  margin-bottom: 3rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.site-heading {
  color: var(--color-invert);
  font-family: var(--font-sans);
  font-weight: bold;
  font-size: clamp(2.9rem, 4.8rem, 5vw);
  text-transform: uppercase;
  letter-spacing: -.05em;
  text-shadow: 0 0 11px rgba(0,0,0,.28);

  em {
    letter-spacing: -0.1em;
    font-size: 1.33em;
    opacity: .8;
    mix-blend-mode: overlay;
  }
}