.footer {
  background-color: var(--color-primary, #f0f);
  background-image: linear-gradient(20deg, hsl(340, 88%, 68%) 0%, var(--color-primary, #f0f) 100%);
  color: var(--color-invert, #fff);
  margin-top: 5rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
}