<div class="footer">
  <div class="container">

    <p *ngIf="checkUserData()">
      <button class="button button-link button--invert" (click)="onDeleteOfflineData()">Delete Offline Data</button>
    </p>

    <p>BabyTracker5000 is available under <a href="https://www.gnu.org/licenses/gpl-3.0" rel="nofollow noopener">GNU General Public License</a>. When registered, your login and notes data are stored on Google Firebase. In offline mode, your data is only stored in your device's local storage. Use BabyTracker5000 at your own risk.</p>

    <p>&copy; James Pfleiderer 2023</p>

  </div>
</div>
