.footer {
  background-color: var(--color-primary, #f0f);
  background-image: linear-gradient(20deg, hsl(340, 88%, 68%) 0%, var(--color-primary, #f0f) 100%);
  color: var(--color-invert, #fff);
  padding-bottom: 3.6rem;
  padding-top: 3.6rem;

  @media print {
    display: none;
  }

  p {
    opacity: .66;
  }

  p + p {
    margin-top: .66em;
  }
}