



.notes-listing {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
}

.notes-listing-item {
  cursor: pointer;
  padding-bottom: 1rem;
  padding-top: 1rem;

  &:nth-child(odd){
    background-color: rgb(232, 240, 251);
  }

  // + .notes-listing-item {
  //   margin-top: 1rem;
  // }

  &:hover {
    background-color: var(--bs-info, lightsteelblue);
  }

}


.notes-listing-controls {
  display: flex;
  justify-content: flex-end;
  gap: .5em;
}

.button-label {
    width: 0;
    display: inline-block;
    height: 0;
    visibility: hidden;
    pointer-events: none;
}