<div class="notes">
  <div class="container">

    <div class="new-note">
      <h2 class="new-note-heading"><span>New entry <i class="bi bi-caret-down"></i></span></h2>
      <app-note-form></app-note-form>
    </div>

    <div class="notes-listing">

      <div class="notes-listing-spinner" *ngIf="isFetching && !errorMessage"><app-loading-spinner></app-loading-spinner></div>

      <div class="notes-listing-error" *ngIf="errorMessage">
        <h2 class="notes-listing-error-heading">An error occurred:</h2>
        <p>{{ errorMessage }}</p>
        <button class="button" (click)="onAcknowledgeError()">OK</button>
      </div>

      <app-notes-listing-item *ngFor="let note of notes; let i = index" [noteId]="i" [note]="note"></app-notes-listing-item>

    </div>

  </div>
</div>
