<div class="notes">
  <div class="container">

    <div class="new-note">
      <h2 class="new-note-heading"><span>New entry&hellip;</span></h2>
      <app-note-form></app-note-form>
    </div>

    <div class="notes-listing">
      <!-- <h3 class="notes-listing-heading">Notes</h3> -->

      <div class="lds-ring" *ngIf="isFetching"><div></div><div></div><div></div><div></div></div>


      <app-notes-listing-item *ngFor="let note of notes; let i = index" [noteId]="i"></app-notes-listing-item>

      <!-- <div class="notes-listing-item" *ngFor="let note of notes; let i = index" (click)="onClickNoteListItem($event,i)">

        <div class="row" *ngIf="editMode === i">
          <div class="col-xs-12">
            <app-note-form [noteId]="i" [(editMode)]="editMode"></app-note-form>
          </div>
        </div>

        <div class="row" *ngIf="editMode !== i">

          <div class="col-sm-6">
            {{note.description}}
          </div>

          <div class="col-sm">
            {{note.noteType}}
          </div>

          <div class="col-sm" *ngIf="note.noteType === 'Sleep' && note.duration">
            {{note.duration}}
          </div>

          <div class="col-sm" *ngIf="note.noteType === 'Feeding' && note.feedDetails?.length">
            <ul>
              <li *ngFor="let detail of note.feedDetails?.split('|')">
                {{ detail }}
              </li>
            </ul>
          </div>

          <div class="col-sm" *ngIf="note.noteType === 'Diaper' && note.diaperDetails?.length">
            <ul>
              <li *ngFor="let detail of note.diaperDetails?.split('|')">
                {{ detail }}
              </li>
            </ul>
          </div>

        </div>

      </div> -->

    </div>

  </div>
</div>
