.new-note {
  margin-bottom: 5rem;

  .new-note-heading {
    background-color: var(--color-sticky-note-1-light);
    border-radius: 4px 4px 0 0;
    border: 1px solid var(--color-sticky-note-1-border);
    border-bottom-color: var(--color-sticky-note-1-light);
    color: var(--color-sticky-note-1-dark);
    display: inline-block;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: -.025em;
    margin-bottom: 0;
    padding: .5rem 1rem;
    position: relative;
    text-transform: uppercase;
    top: 1px;

    span {
      // mix-blend-mode: hard-light;
      opacity: .7;
    }
  }

  .note-form-container {
    background-color: var(--color-sticky-note-1-light);
    border-radius: 0 4px 4px 4px;
    border: 1px solid var(--color-sticky-note-1-border);
    display: block;
    padding: 1rem;
  }

}

.notes-listing {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;

  .lds-ring {
    margin-left: auto;
    margin-right: auto;
    order: 1;
  }
}

// .notes-listing-heading {
//   order: 1;
// }

.notes-listing-item-container {

  &:nth-child(odd) ::ng-deep .notes-listing-item {
      background-color: rgb(232, 240, 251);
  }

  &:hover ::ng-deep .notes-listing-item {
    background-color: var(--bs-info, lightsteelblue);
  }

}