<div class="auth">
  <div class="container">

    <form class="loginForm" #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">

      <h2 class="loginForm-title">{{ isLoginMode ? 'Login' : 'Register account' }}</h2>

      <div class="loginForm-item">
        <label class="loginForm-label" for="email">Email Address</label>
        <input
          type="email"
          id="email"
          class="form-text-input"
          placeholder="youraddress@example.com"
          ngModel
          name="email"
          required
          email
          >
      </div>

      <!-- <div class="loginForm-item" *ngIf="!isLoginMode">
        <label class="loginForm-label" for="verifyEmail">Verify Email Address</label>
        <input
          type="email"
          id="verifyEmail"
          class="form-text-input"
          ngModel
          name="verifyEmail"
          required
          email
          >
      </div> -->

      <div class="loginForm-item">
        <label class="loginForm-label" for="password">Password</label>
        <input
          type="password"
          id="password"
          class="form-text-input"
          placeholder="********************"
          ngModel
          name="password"
          required
          minlength="6"
          >
        <p class="loginForm-input-note" *ngIf="!isLoginMode">Must be at least 6 characters. Use any letters, numbers, symbols, or spaces.</p>
      </div>

      <div class="loginForm-item loginForm-actions">

        <button type="button" class="button button-link" (click)="onSwitchMode()">Switch to {{ isLoginMode ? 'Registration' : ' Login' }}</button>

        <div class="loginForm-spinner" *ngIf="isLoading">
          <app-loading-spinner></app-loading-spinner>
        </div>

        <button type="submit" class="button button-primary" [disabled]="!authForm.valid || isLoading">{{ isLoginMode ? 'Login' : 'Register account' }}</button>
      </div>

      <div class="loginForm-item loginForm-error" *ngIf="errorMessage">
        <p>{{ errorMessage }}</p>
      </div>

    </form>

  </div>
</div>