.loginForm-title {
  font-family: var(--font-sans);
  font-weight: bold;
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: .66em;
}

.loginForm-item {

  + .loginForm-item {
    margin-top: 2rem;
  }

}

.loginForm-label {
  display: inline-block;
  margin-bottom: .33em;
}

.loginForm-input-note {
  color: var(--color-secondary);
  font-size: 1.4rem;
  font-style: italic;
  padding: .75em;
}

.loginForm-actions {
  display: flex;
  gap: 2rem;
  justify-content: flex-end;
}

.loginForm-error {
  border: 1px solid var(--color-danger-dark);
  border-radius: 4px;
  color: var(--color-danger-dark);
  padding: 1em;
}