<form
  class="new-note mb-5"
  [formGroup]="newNoteForm"
  (ngSubmit)="onSubmit()"
  >

    <div class="row mb-3">

      <div class="col-sm-6">
        <label for="newNoteLine" class="new-note-label">New note</label>
          <textarea
          name="description"
          id="newNoteLine"
          class="form-control"
          placeholder='E.g., "nap time" or "feeding (both)"&hellip;'
          formControlName="description"
          ></textarea>
      </div>

      <div class="col-sm">
        <label for="newNoteType" class="new-note-label">Type</label>
        <select
          name="noteType"
          id="newNoteType"
          class="form-control"
          formControlName="noteType"
          >
          <option value="Feeding" selected>Feeding</option>
          <option value="Diaper">Diaper</option>
          <option value="Sleep">Sleep</option>
          <option value="other">Other</option>
        </select>
      </div>

      <div class="col-sm new-note-duration" *ngIf="newNoteForm.value.noteType == 'Sleep'">
        <label for="newDurationLine" class="new-note-label">Duration</label>
        <textarea
          name="duration"
          id="newDurationLine"
          class="form-control"
          placeholder='E.g., 25min or 2hr&hellip;'
          formControlName="duration"
        ></textarea>

      </div>

      <div class="col-sm new-note-feedDetails" *ngIf="newNoteForm.value.noteType == 'Feeding'">
        <p class="new-note-label">Details</p>

        <div class="new-note-details-options" formArrayName="feedDetails">

          <div class="form-check" *ngFor="let thisControl of getFeedControls(); let i = index">
            <input
                name="feedDetails[]"
                id="feedDetails-{{ i }}"
                value="{{ feedDetailOptions[i].label }}"
                type="checkbox"
                class="btn-check"
                autocomplete="off"
                [formControl]="thisControl"
              >
            <label for="feedDetails-{{ i }}" class="new-note-checkboxLabel btn btn-outline-secondary">{{ feedDetailOptions[i].label }}</label>
          </div>

        </div>
      </div>

      <div class="col-sm new-note-diaperDetails" *ngIf="newNoteForm.value.noteType == 'Diaper'">
        <p class="new-note-label">Details</p>

        <div class="new-note-details-options" formArrayName="diaperDetails">

          <div class="form-check" *ngFor="let thisControl of getDiaperControls(); let i = index">
            <input
                name="diaperDetails[]"
                id="diaperDetails-{{ i }}"
                value="{{ diaperDetailOptions[i].label }}"
                type="checkbox"
                class="btn-check"
                autocomplete="off"
                [formControl]="thisControl"
              >
            <label for="diaperDetails-{{ i }}" class="new-note-checkboxLabel btn btn-outline-secondary">{{ diaperDetailOptions[i].label }}</label>
          </div>

        </div>

      </div>

    </div>

    <div class="row">
      <div class="col-xs-12" style="text-align: right;">
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="!newNoteForm.valid"
            >
            <!-- {{ editMode > -1 ? 'Edit Note' : 'Add Note' }} -->
            Add Note
          </button>
          <!-- <button
            type="button"
            class="btn btn-secondary"
            (click)="onCancelEdit()"
            *ngIf="editMode > -1"
            >Cancel</button> -->
      </div>
    </div>

  </form>