<div class="notes-listing-day" *ngIf="showDisplayDay">{{ displayDay }}</div>
<div class="notes-listing-item" (click)="onClickNoteListItem($event)">

  <!-- <div class="row note-listing-item-date-container">
    <div class="col-xs-12">
      <p class="note-listing-item-date">{{ displayCreatedDateTime }}</p>
    </div>
  </div> -->

  <div class="notes-listing-item-edit" *ngIf="editMode">
    <app-note-form [noteId]="noteId" [(editMode)]="editMode"></app-note-form>
  </div>

  <div class="notes-listing-item-data" *ngIf="!editMode">

    <div class="notes-listing-item-time">
      {{displayStartDateTime}}
    </div>

    <div class="notes-listing-item-duration">
      <h3 class="notes-listing-item-heading">Duration (minutes)</h3>

      <div class="notes-listing-item-durationLeft">
        <p>Left</p>
        {{ note.durationLeft }}
      </div>

      <div class="notes-listing-item-durationLeft">
        <p>Right</p>
        {{ note.durationRight }}
      </div>

    </div>

    <div class="notes-listing-item-formula" *ngIf="note.formulaAmount">
      <p>Formula</p>
      <p class="listing-item-formulaAmount">{{note.formulaAmount}}</p>
    </div>

    <div class="notes-listing-item-diaper" *ngIf="note.wet || note.poo">
      <ul>
        <li *ngIf="note.wet">
          Wet
        </li>
        <li *ngIf="note.poo">
          Poo
        </li>
      </ul>
    </div>

    <div class="notes-listing-item-notes">
      {{note.description}}
    </div>

  </div>

</div>