.notes-listing-item {
  cursor: pointer;
  // padding-bottom: 1rem;
  // padding-top: 1rem;
  padding: 1.5rem 1rem;
  transition: background-color 150ms ease;
}

.notes-listing-item .row {
  margin-left: 0;
  margin-right: 0;
}

.note-listing-item-date-container {
  font-family: var(--font-monospace);
  font-size: .875rem;
  margin-bottom: .5em;
  opacity: .5;
}

.note-listing-item-date {
  border-bottom: 1px solid var(--color-body-color);
  display: inline-block;
}

.notes-listing-controls {
  display: flex;
  gap: .5em;
  justify-content: flex-end;
}

.button-label {
  display: inline-block;
  height: 0;
  pointer-events: none;
  visibility: hidden;
  width: 0;
}