$breakpoint-note-flex: 600px;
$breakpoint-notes-max-width: 900px;

.notes-listing-item {
  cursor: pointer;
  // padding-bottom: 1rem;
  // padding-top: 1rem;
  padding: 2.4rem 1.6rem;
  transition: background-color 150ms ease;

  @media print {
    page-break-inside: avoid;
  }
}

.notes-listing-item-data {
  @media print, screen and (min-width: $breakpoint-note-flex) {
    display: flex;
    flex-wrap: wrap;
    gap: 1em 2em;
  }
}

.notes-listing-item-time {
  border-bottom: 1px solid var(--color-body-color);
  display: inline-block;
  flex-basis: 100%;
  font-family: var(--font-monospace);
  font-size: 1.4rem;
  margin-bottom: 1rem;
  opacity: .66;

  @media print, screen and (min-width: $breakpoint-note-flex) {
    border-bottom: none;
    margin-bottom: 0;
  }

}

.notes-listing-item-heading {
  font-size: 1.6rem;
}

.notes-listing-item-duration {
  max-width: 14em;
  margin-bottom: 1.5rem;

  @media print, screen and (min-width: $breakpoint-note-flex) {
    // flex-basis: 20%;
    margin-bottom: 0;
  }
}

.notes-listing-item-duration-grid {
  display: grid;
  font-size: 2rem;
  gap: 2rem;
  grid-template-columns: 1fr 1fr;
}

.notes-listing-item-durationLabel {
  font-size: 1.6rem;
  // opacity: .75;
}

.notes-listing-item-logLine {
  // display: inline-block;
  // position: relative;
  font-weight: bold;
  opacity: .9;

  // &::before {
  //   content: '';
  //   display: block;
  //   height: 1px;
  //   width: 100%;
  //   position: absolute;
  //   bottom: 0;
  //   left: 0;
  //   background-color: var(--color-this-note-dark);
  // }
}

.notes-listing-item-formula {
  margin-bottom: 1.5rem;
  max-width: 5em;

  @media print, screen and (min-width: $breakpoint-note-flex) {
    // flex-basis: 10%;
    margin-bottom: 0;
  }
}

.notes-listing-item-formulaAmount {
  font-size: 2rem;
}

.notes-listing-item-diaperDetails {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  font-size: 2rem;

  @media print, screen and (min-width: $breakpoint-note-flex) {
    flex-direction: column;
    // flex-basis: 10%;
    gap: .25em;
  }

  .bi {
    font-size: .875em;
  }
}

.notes-listing-item-diaperDetail {
  font-weight: bold;
  opacity: .9;
}

.notes-listing-item-notes {
  font-family: var(--font-monospace);
  margin-top: 2rem;
  white-space: pre-line;

  @media screen and (min-width: $breakpoint-note-flex) {
    flex-basis: 100%;
    margin-top: 0;
  }

  @media screen and (min-width: $breakpoint-notes-max-width) {
    flex-basis: 50%;
    margin-top: 0;
  }

  @media print {
    flex-basis: 40%;
    margin-top: 0;
  }
}

.notes-listing-day {
  color: var(--color-body-color);
  font-weight: bold;
  font-size: clamp(2.2rem, 3.6rem, 4vw);
  letter-spacing: -.05em;
  margin-bottom: 2em;
  margin-top: .25em;
  opacity: .66;

  .bi {
    font-size: .75em;
    opacity: .66;
    vertical-align: text-top;
  }

  @media print {
    page-break-before: avoid;
  }
}