<div class="notes-listing-item" (click)="onClickNoteListItem($event)">

  <div class="notes-listing-item-edit" *ngIf="editMode">
    <app-note-form [noteId]="noteId" [(editMode)]="editMode"></app-note-form>
  </div>

  <div class="notes-listing-item-data" *ngIf="!editMode">

    <p class="notes-listing-item-time">
      {{displayStartDateTime}}
    </p>

    <div class="notes-listing-item-duration" *ngIf="note.durationLeft || note.durationRight">
      <h3 class="notes-listing-item-heading">Duration <em>(minutes)</em></h3>

      <div class="notes-listing-item-duration-grid">
        <div class="notes-listing-item-durationLeft" *ngIf="note.durationLeft">
          <p><span class="notes-listing-item-durationLabel">Left:</span> <span class="notes-listing-item-logLine">{{ note.durationLeft }}</span></p>
        </div>

        <div class="notes-listing-item-durationRight" *ngIf="note.durationRight">
          <p><span class="notes-listing-item-durationLabel">Right:</span> <span class="notes-listing-item-logLine">{{ note.durationRight }}</span></p>
        </div>
      </div>

    </div>

    <div class="notes-listing-item-formula" *ngIf="note.formulaAmount">
      <h3 class="notes-listing-item-heading">Formula</h3>
      <p class="notes-listing-item-formulaAmount"><span class="notes-listing-item-logLine">{{note.formulaAmount}}</span></p>
    </div>

    <div class="notes-listing-item-diaper" *ngIf="note.wet || note.poo">
      <ul class="notes-listing-item-diaperDetails">
        <li class="notes-listing-item-diaperDetail" *ngIf="note.wet">
          <i class="bi bi-check-square"></i> Wet
        </li>
        <li class="notes-listing-item-diaperDetail" *ngIf="note.poo">
          <i class="bi bi-check-square"></i> Poo
        </li>
      </ul>
    </div>

    <div class="notes-listing-item-notes" *ngIf="note.description">
      {{note.description}}
    </div>

  </div>

</div>
<h2 class="notes-listing-day" *ngIf="showDisplayDay"><i class="bi bi-caret-up-fill"></i> {{ displayDay }}</h2>