// @import '/node_modules/bootstrap/scss/bootstrap-utilities.scss';

.note-form {
  // margin-bottom: 3rem;
}

.note-form-section {
  + .note-form-section {
    margin-top: 2rem;

    // @include media-breakpoint-up(sm) {
    //   margin-top: 0;
    // }
  }
}

.note-form-label {
  font-weight: bold;
  margin-bottom: 0;
  opacity: .7;
  padding-bottom: .25rem;
  padding-left: .75rem;
  padding-right: .75rem;

  // @include media-breakpoint-up(sm) {
  //   padding-bottom: .75rem;
  // }
}

.select-wrap {
  position: relative;

  &::after {
    font-family: bootstrap-icons;
    content: '\F22A';
    position: absolute;
    right: 0.5em;
    top: 50%;
    transform: translateY(-50%);
    color: var(--bs-secondary, #f0f);
    pointer-events: none;
  }
}

select.ng-touched.ng-invalid,
textarea.ng-touched.ng-invalid {
  // styles taken from bootstrap
  // @extend .is-invalid;
  border-color: #dc3545;
  padding-right: calc(1.5em + 0.75rem);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.form-check {
  padding-left: 0;
}

.note-form-details-options {
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
}

.note-form-checkboxLabel {
  font-size: .75rem;
}

.form-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.btn-delete {
  i {
    margin-right: .25em;
  }
}