<form
  class="note-form"
  [formGroup]="noteForm"
  (ngSubmit)="onSubmit()"
  >

    <div class="note-form-container">

      <div class="note-form-section">
        <label for="{{ input_id_startDateTime }}" class="note-form-label">Start Time</label>
        <input
          name="startDateTime"
          id="{{ input_id_startDateTime }}"
          class="form-control"
          type="datetime-local"
          pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}"
          placeholder="24-hour format, e.g., 19:00"
          formControlName="startDateTime"
        >

      </div>

      <div class="note-form-section note-form-duration">
        <h3 class="note-section-heading">Duration (minutes)</h3>

        <div class="note-form-duration-grid">

          <div class="note-form-duration-grid-item">
            <label for="{{ input_id_durationLeft }}" class="note-form-label">Left</label>
            <input
              name="durationLeft"
              id="{{ input_id_durationLeft }}"
              class="form-control"
              type="text"
              placeholder="E.g., 15min"
              formControlName="durationLeft"
            >
          </div>

          <div class="note-form-duration-grid-item">
            <label for="{{ input_id_durationRight }}" class="note-form-label">Right</label>
            <input
              name="durationRight"
              id="{{ input_id_durationRight }}"
              class="form-control"
              type="text"
              placeholder="E.g., 15min"
              formControlName="durationRight"
            >
          </div>

        </div>

      </div>

      <div class="note-form-section">
        <label for="{{ input_id_formulaAmount }}" class="note-form-label">Formula Amount</label>
        <input
          name="formulaAmount"
          id="{{ input_id_formulaAmount }}"
          class="form-control"
          type="text"
          placeholder="E.g., 10mL or 2oz"
          formControlName="formulaAmount"
        >
      </div>

      <div class="note-form-section note-form-diaperDetails">

        <div class="note-form-diaperDetails-item">
          <label for="{{ input_id_wet }}" class="note-form-label">Wet</label>
          <input
            name="wet"
            id="{{ input_id_wet }}"
            type="checkbox"
            formControlName="wet"
          >
        </div>

        <div class="note-form-diaperDetails-item">
          <label for="{{ input_id_poo }}" class="note-form-label">Poo</label>
          <input
            name="poo"
            id="{{ input_id_poo }}"
            type="checkbox"
            formControlName="poo"
          >
        </div>

      </div>

      <div class="note-form-section">
        <label for="{{ input_id_description }}" class="note-form-label">Notes</label>
          <textarea
          name="description"
          id="{{ input_id_description }}"
          class="form-control"
          placeholder='E.g., 5min break between sides'
          rows="2"
          formControlName="description"
          ></textarea>
      </div>

    </div>

    <div class="note-form-actions">
      <div class="form-buttons" style="text-align: right;">

          <button
            type="button"
            class="btn btn-secondary"
            (click)="onClickCancelEdit()"
            *ngIf="noteId > -1">
            <i class="bi bi-x-circle"></i> Cancel Edit
          </button>

          <button
            type="button"
            class="btn btn-danger btn-delete"
            (click)="onClickDeleteNoteListItem(noteId)"
            *ngIf="noteId > -1">
            <i class="bi bi-exclamation-circle"></i><span class="button-label">Delete</span>
          </button>

          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="!noteForm.valid">
            <i class="bi bi-check-circle"></i> {{ noteId > -1 ? 'Save' : 'Add Note' }}
          </button>

      </div>
    </div>

  </form>