// @import '/node_modules/bootstrap/scss/bootstrap-utilities.scss';

.note-form {
  // margin-bottom: 3rem;
}

.note-form-section {
  + .note-form-section {
    border-top: 1px solid var(--color-sticky-note-1-border);
    margin-top: 2rem;
    padding-top: 2rem;

    // @include media-breakpoint-up(sm) {
    //   margin-top: 0;
    // }
  }
}

.note-form-label {
  font-weight: bold;
  margin-bottom: 0;
  opacity: .7;
  padding-bottom: .25rem;
  // padding-left: .75rem;
  padding-right: .75rem;

  // @include media-breakpoint-up(sm) {
  //   padding-bottom: .75rem;
  // }
}

.note-section-heading {
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: .33em;
  opacity: .7;
}

.note-form-duration-grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr;
}

.note-form-diaperDetails-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
}

.note-form-diaperDetails-item {
  position: relative;
}

.note-form-diaperDetails-label {
  position: relative;

  &::before,
  &::after {
    display: inline-block;
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -0.125em;
    -webkit-font-smoothing: antialiased;
    transition: opacity 125ms, color 125ms;
  }

  &::before {
    content: '\F584';
    margin-right: .66rem;
  }

  &::after {
    content: '\F633';
    left: 0;
    opacity: 0;
    position: absolute;
    top: .075em;
  }
}

.note-form-diaperDetails-checkbox {
  position: absolute;
  display: block;
  opacity: 0;
  pointer-events: none;

  &:checked + .note-form-diaperDetails-label {
    color: var(--color-success);

    &::after {
      opacity: 1;
    }

  }
}

.form-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.btn-delete {
  i {
    margin-right: .25em;
  }
}

// .select-wrap {
//   position: relative;

//   &::after {
//     font-family: bootstrap-icons;
//     content: '\F22A';
//     position: absolute;
//     right: 0.5em;
//     top: 50%;
//     transform: translateY(-50%);
//     color: var(--color-secondary, #f0f);
//     pointer-events: none;
//   }
// }

// select.ng-touched.ng-invalid,
// textarea.ng-touched.ng-invalid {
//   // styles taken from bootstrap
//   // @extend .is-invalid;
//   border-color: #dc3545;
//   padding-right: calc(1.5em + 0.75rem);
//   background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
//   background-repeat: no-repeat;
//   background-position: right calc(0.375em + 0.1875rem) center;
//   background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
// }

// .form-check {
//   padding-left: 0;
// }

// .note-form-details-options {
//   display: flex;
//   flex-wrap: wrap;
//   gap: .5rem;
// }

// .note-form-checkboxLabel {
//   font-size: .75rem;
// }