<form
  class="note-form"
  [formGroup]="noteForm"
  (ngSubmit)="onSubmit()"
  >

    <div class="row mb-3">

      <div class="col-sm note-form-section">
        <label for="{{ input_id_startTime }}" class="note-form-label">Start Time</label>
        <input
          name="startTime"
          id="{{ input_id_startTime }}"
          class="form-control"
          type="time"
          formControlName="startTime"
        >

      </div>

      <div class="col-sm note-form-section note-form-duration">
        <table>
          <thead>
            <th colspan="2">Duration (minutes)</th>
          </thead>
          <tbody>
            <td>
              <label for="{{ input_id_durationLeft }}" class="note-form-label">Left</label>
              <input
                name="durationLeft"
                id="{{ input_id_durationLeft }}"
                class="form-control"
                type="text"
                formControlName="durationLeft"
              >
            </td>
            <td>
              <label for="{{ input_id_durationRight }}" class="note-form-label">Right</label>
              <input
                name="durationRight"
                id="{{ input_id_durationRight }}"
                class="form-control"
                type="text"
                formControlName="durationRight"
              >
            </td>
          </tbody>
        </table>

      </div>

      <div class="col-sm note-form-section">
        <label for="{{ input_id_formulaAmount }}" class="note-form-label">Formula Amount</label>
        <input
          name="formulaAmount"
          id="{{ input_id_formulaAmount }}"
          class="form-control"
          type="text"
          formControlName="formulaAmount"
        >
      </div>

      <div class="col-sm note-form-section note-form-diaperDetails">

        <div>
          <label for="{{ input_id_wet }}" class="note-form-label">Wet</label>
          <input
            name="wet"
            id="{{ input_id_wet }}"
            class="form-control"
            type="checkbox"
            formControlName="wet"
          >
        </div>

        <div>
          <label for="{{ input_id_poo }}" class="note-form-label">Poo</label>
          <input
            name="poo"
            id="{{ input_id_poo }}"
            class="form-control"
            type="checkbox"
            formControlName="poo"
          >
        </div>

      </div>

      <div class="col-xs-12 note-form-section">
        <label for="{{ input_id_description }}" class="note-form-label">Notes</label>
          <textarea
          name="description"
          id="{{ input_id_description }}"
          class="form-control"
          placeholder='E.g., "nap time" or "feeding (both)"&hellip;'
          rows="3"
          formControlName="description"
          ></textarea>
      </div>

    </div>

    <div class="row">
      <div class="col-xs-12 form-buttons" style="text-align: right;">

          <button
            type="button"
            class="btn btn-secondary"
            (click)="onClickCancelEdit()"
            *ngIf="noteId > -1">
            <i class="bi bi-x-circle"></i> Cancel Edit
          </button>

          <button
            type="button"
            class="btn btn-danger btn-delete"
            (click)="onClickDeleteNoteListItem(noteId)"
            *ngIf="noteId > -1">
            <i class="bi bi-exclamation-circle"></i><span class="button-label">Delete</span>
          </button>

          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="!noteForm.valid">
            <i class="bi bi-check-circle"></i> {{ noteId > -1 ? 'Save' : 'Add Note' }}
          </button>

      </div>
    </div>

  </form>