/* You can add global styles to this file, and also import other style files */
@import 'assets/scss/reset';

:root {
    --color-primary: #3F5EFB;
    --color-secondary: #666b82;
    --color-tertiary: hsl(340, 88%, 68%);
    --color-success: #0d8a50;
    --color-info: #b5e5ef;
    --color-warning: #FDBB2D;
    --color-danger: #dc3545;
    --color-danger-dark: #931d29;
    --color-invert: #fafafa;
    --color-dark: #212529;
    --color-body-color: #343434;
    --color-body-color-light: #ced4da;
    --color-body-bg: #fafafa;
    --color-link-color: #0d6efd;
    --color-link-hover-color: #0c3f8b;
    --color-sticky-note-1-light: hsl(45, 100%, 90%);
    --color-sticky-note-1-border: hsl(45, 100%, 75%);
    --color-sticky-note-1-dark: hsl(45, 100%, 25%);
    --color-outline: #ffc02d;
    --font-sans: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  --padding-x-container: 2rem;
}


html,
body {
  min-height: 100vh;
}

html {
  font-size: 10px;
}

body {
  background-color: var(--color-body-bg);
  color: var(--color-body-color);
  font-family: var(--font-sans, sans-serif);
  font-size: 1.6rem;
  line-height: 1.4;
  max-width: 100%;
  overflow-x: hidden;
}



.app-root-container {
  min-height: inherit;
  display: block;
}

.site {
  display: flex;
  flex-direction: column;
  min-height: inherit;
  width: 100%;
}

.app-main {
  padding-bottom: 3rem;
  padding-top: 3rem;
}

.app-footer {
  justify-self: flex-end;
  margin-top: auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  padding-left: var(--padding-x-container, 2rem);
  padding-right: var(--padding-x-container, 2rem);
}



.form-text-input {
  appearance: none;
  background-clip: padding-box;
  background-color: var(--color-body-bg);
  border-radius: 0.375rem;
  border: 1px solid var(--color-body-color-light);
  color: var(--color-body-color);
  display: block;
  font-family: var(--font-sans);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.4;
  padding: 0.375em 0.75em;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  width: 100%;

  &:-webkit-autofill {
    background-color: var(--color-success);
  }

  &.ng-invalid.ng-touched {
    border-color: var(--color-danger);
  }

  &:focus-visible {
    outline: var(--color-outline) auto 1px;
  }
}

::placeholder {
  color: #aaa;
  font-style: italic;
}

.button {
  background-color: transparent;
  border: 2px solid var(--color-primary);
  border-radius: 4px;
  color: var(--color-primary);
  cursor: pointer;
  font-size: 1.6rem;
  padding: .66em .5em;
  line-height: 1;
  transition: background-color 150ms, border 150ms, color 150ms;

  &:hover,
  &:focus-visible {
    border-color: var(--color-link-hover-color);
  }

  &[disabled] {
    cursor: not-allowed;
    opacity: .66;
  }
}

.button-primary {
  background-color: var(--color-primary);
  border: none;
  color: var(--color-invert);

  &:hover,
  &:focus-visible {
    background-color: var(--color-link-hover-color);
  }
}

.button-secondary {
  border: 2px solid var(--color-secondary);
  color: var(--color-secondary);

  &:hover,
  &:focus-visible {
    border-color: var(--color-link-hover-color);
    color: var(--color-link-hover-color);
  }
}

.button-danger {
  border: 2px solid var(--color-danger);
  color: var(--color-danger);

  &:hover,
  &:focus-visible {
    border-color: var(--color-danger-dark);
    color: var(--color-danger-dark);
  }
}

.button-link {
  border-color: transparent;

  &:hover,
  &:focus-visible {
    border-color: transparent;
    color: var(--color-link-hover-color);
    text-decoration: underline;
  }

}


@media print {
  body {
    font-size: 1.2rem;
  }
}